<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-content"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'PROFILE' | translate | titlecase}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-button (click)="hazFoto()" expand="block" shape="round"><ion-icon name="camera"></ion-icon></ion-button>
  <ion-img *ngIf="this.image" [src]="this.image"></ion-img> -->
  <div class="body">
    <input id="slider" class="customSlider" type="checkbox" checked>

    <div class="wrapper">
      <div class="top-icons">
        <i class="fas fa-long-arrow-alt-left"></i>
        <i class="fas fa-ellipsis-v"></i>
        <i class="far fa-heart"></i>
      </div>

      <div class="profile">
        <img src="{{this.image}}" class="thumbnail">
        <div class="check"><i class="fas fa-check"></i></div>
        <h3 class="name">{{this.user.name}}</h3>
        <p class="title">{{this.user.givenName}}</p>
        <p class="description">{{this.user.email}}</p>
        <button type="button" class="btn" (click)="goAddNote()">Añadir Nota</button>
        <button *ngIf="!this.isGoogle" type="button" class="btn2" (click)="hazFoto()" style="margin-top: 10px;">Hacer Foto</button>
      </div>

      <div class="social-icons">
        <div class="icon">
          <ion-icon name="document-outline"></ion-icon>
          <h4>{{this.nNotes}}</h4>
          <p>Notas</p>
        </div>

        <div class="icon">
          <ion-icon name="create-outline"></ion-icon>
          <h4>{{nCreadas}}</h4>
          <p>Notas Creadas</p>
        </div>

        <div class="icon">
          <ion-icon name="trash-bin-outline"></ion-icon>
          <h4>{{nBorradas}}</h4>
          <p>Notas Borradas</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>